.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  padding: 5px 15%;
  border-bottom: 1px solid #d1d5db;
  background-color: #f5f5f5;
}

.auctionName {
  font-size: 1.3rem;
  font-weight: 200;
  margin-left: 5px;
  transition: text-decoration 0.3s ease;
}
.link {
  display: flex;
  align-items: center;
}
.link:hover .auctionName {
  text-decoration: underline;
}

.imageWrapper {
  flex: 0 0 50%;
  max-width: 50%;
}

.details {
  flex: 1;
  margin: 0px 5px;
  min-width: 0;
}

.lotContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.8rem;
}

.lotLeft {
  display: flex;
  align-items: center;
  gap: 10px;
}
.lotLabel {
  padding-top: 10px;
}
.lotLink {
  display: inline-flex;
  align-items: center;
  text-decoration: none;
}
.lotLink:hover {
  text-decoration: underline;
}

.favoriteRight {
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 10px;
}

.goodsName {
  font-size: 1.5rem;
  margin: 20px 0px;
}

.rakusatsuPriceContainer {
  padding: 20px 20px 20px 20px;
  background-color: #f5f5f5;
}
.priceLabel {
  font-size: 1.3rem;
  color: black;
}
.rakusatsuPriceRow {
  display: flex;
  gap: 10px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.2;
}
.rakusatsuPrice {
  color: #cb5201;
  font-size: 2.8rem;
  margin: 0;
  line-height: 1;
}
.detailContainer {
  padding: 5px 0;
  margin: 10px 0;
  color: #666;
  overflow-wrap: break-word;
  word-break: break-word;
  white-space: normal;
}

.detailTitle {
  font-size: 1rem;
  margin-bottom: 8px;
}

.goodsSetsumei {
  font-size: 1rem;
  text-align: left;
  padding: 5px 0 10px 0;
  white-space: pre-wrap; /* 改行をそのまま表示 */
  word-wrap: break-word; /* 長い単語を適切に折り返し */
}

.divider {
  margin: 0 auto;
  border: none;
  border-top: 1px solid #ddd;
  margin-top: 8px;
  margin-bottom: 8px;
}

.goodsRowInfo {
  font-size: 1.2rem;
  margin: 20px 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.remainingTime,
.bidCount {
  font-size: 1.2rem;
  margin-left: 10px;
}

.detailsTable {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 10px 0px;
  width: 100%;

  border-collapse: collapse;
}

.addInfoContainer {
  margin: 30px 0;
  color: #333;
  overflow-wrap: break-word;
  word-break: break-word;
  white-space: normal;
}

.addInfoLabel {
  font-size: 1.4rem;
  margin: 0 0 8px 0;
  width: 100%;
  border-bottom: 1px solid #e0e0e0;
  display: grid;
}

.description {
  font-size: 1rem; /* 16px */
  line-height: 1.8;
  color: #666;
  white-space: pre-line;
}

.tableValue {
  text-align: left;
  padding: 10px 5px;
  border-bottom: 1px solid #ddd;
}

.loginContainer {
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  width: 50%;
  margin: 0px auto;
  transition: max-width 0.5s ease;
}

.sectionTitle {
  margin-bottom: 1rem;
  padding-bottom: 0.625rem;
  border-bottom: 1px solid #c7c7c7;
  font-size: 2.4rem;
  font-weight: 500;
  color: #000;
  line-height: 1.25;
  display: flex;
  align-items: center;
  width: 100%;
}
.magnifier {
  position: absolute;
  width: 150px; /* 拡大部分の幅 */
  height: 150px; /* 拡大部分の高さ */
  border-radius: 50%; /* 丸型ルーペ */
  border: 2px solid #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  pointer-events: none;
  transform: translate(-50%, -50%);
  background-repeat: no-repeat;
}
.clickableIcon {
  cursor: pointer; /* アイコンをクリック可能に */
}

.badge {
  background-color: #ffa5009e;
  color: #fff;
  padding: 2px 8px;
  font-size: 1.2rem;
  border-radius: 12px;
  font-weight: bold;
  white-space: nowrap;
}

.priceUpdated {
  animation: priceChange 1s ease-in-out;
}

@keyframes priceChange {
  0% {
    color: red;
    transform: scale(1.1);
  }
  50% {
    color: orange;
    transform: scale(1.2);
  }
  100% {
    color: black;
    transform: scale(1);
  }
}

@media (max-width: 768px) {
  .auctionName {
    font-size: 1rem;
  }
  .container {
    flex-direction: column;
  }
  .headerContainer {
    padding: 15px 5%;
  }
  .imageWrapper {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
