.paginationContainer {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  gap: 16px;
  flex-wrap: wrap;
  position: relative;
  max-width: 1200px;
  height: 100%;
  margin: 20px auto;
}

.resultContainer {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.resultRow {
  display: flex;
  align-items: center;
  gap: 8px;
}

.resultLabel {
  width: 80px;
  /* 適宜調整 */
  font-weight: bold;
  text-align: left;
}

.sort {
  height: 2.5rem;
  border: 1px solid #ccc;
  padding: 0.5rem;
  border-radius: 0.25rem;
}