/* styles/login.module.css */
.loginPage {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
 
}

.loginContainer {
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 2rem;
  max-width: 400px;
  width: 100%;
}

.loginTitle {
  margin-bottom: 1.5rem;
  font-size: 1.5rem;
  color: #333;
}

.loginInput {
  width: 100%;
  padding: 0.75rem;
  margin-bottom: 1rem;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.loginButton {
  width: 100%;
  padding: 0.75rem;
  background-color: #000000;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.loginButton:hover {
  background-color: #005bb5;
}

.forgotPasswordButton {
  margin-top: 20px;
  background-color: transparent;
  border: none;
  color: rgb(63, 63, 65);
  cursor: pointer;
  text-decoration: underline;
}

.forgotPasswordButton:hover {
  color: rgb(2, 2, 2);
}
.passwordWrapper {
  display: flex; /* 横並びにする */
  position: relative;
}

.passwordInput {
  flex: 1; /* 入力フィールドが余白を占有する */
  width: 100%;
  padding: 0.75rem;
  margin-bottom: 1rem;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.passwordIconButton {
  border: 1px solid #ddd;
  border-left: none; /* 左側の枠線を消す */
  border-radius: 0 4px 4px 0; /* 右側の角を丸める */
  background: #fff;
  height: 100%; /* アイコンボタンの高さを入力フィールドと揃える */
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
}